*{
  box-sizing: border-box;
}
#root{
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
}
.task{
  margin: 30px auto;
}
#task_input{
    display: block;
    padding: 8px;
    margin: auto;
    font-size: 1.3em;
    text-align: center;
    color: #666;
}
.task .task_btn{
  display: inline-block;
  margin: 20px auto !important;
}
.task .alert{
  opacity: 0;
  height: 0;
  overflow: hidden;
  color: red;
  transition: 1s opacity ease-out;
  text-transform: uppercase;
  font-family: sans-serif;
  letter-spacing: 2px;
  font-size: 14px;
}
.task .alert.active{
  opacity: 1;
  height: auto;
}
.timer{
  font-size: 40px;
}
.hours, .minutes, .seconds{
  padding: 10px;
}