.Todo {
    list-style: none;
    display: flex;
    padding: 0 5px;
    margin: 10px;
    cursor: pointer;
}
.Todo.completed{
    text-decoration: line-through;
    text-decoration-color: red;
}
.Todo.completed .Todo-li{
    color: #607d8b;
}
.Todo-li {
    font-size: x-large;
    color: darkorange;
    font-weight: 100;
    font-family: cursive;
    display: inline;
}
.image {
    width: 25px;
    height: 25px;
    margin-left: auto;
    cursor: pointer;
}