.Todo {
    list-style: none;
    display: flex;
}
.Todo-li {
    font-size: x-large;
    color: darkorange;
    font-weight: 100;
    font-family: cursive;
    display: inline;
}

.image {
    width: 25px;
    height: 25px;
    margin-left: auto;
    cursor: pointer;
}